<configuration debug="false">
  
    <!-- Appender per scrivere i log in un file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app_sonarled2025.log</file>
        <append>true</append>
        <encoder>
             <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern> -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender> 

     <!-- Console appender -->
	<!-- 
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
	-->
    
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.1.214:5044</destination> 
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
     </appender>   
     
 
    <!-- Configura il logger per org.eclipse.californium -->
    <logger name="org.eclipse.californium" level="OFF" />
     <logger name="com.netflix.discovery" level="OFF" additivity="false"/>
    <logger name="com.netflix.config" level="OFF" additivity="false"/>
    <logger name="com.netflix.appinfo" level="OFF" additivity="false"/>
    
     <!-- 
     Per impostazione predefinita, un logger propaga i suoi eventi di logging ai suoi logger parent gerarchici 
     (in questo caso, il root logger). 
     Impostando additivity="false", impedisci che gli eventi di logging di com.netflix.discovery vengano propagati 
     al root logger e quindi gestiti dagli appender configurati per il root logger. 
     Questo assicura che i log di com.netflix.discovery vengano effettivamente eliminati e non vengano comunque scritti 
     tramite un appender del logger padre.
      -->
    
    <logger name="com.netflix.config.util.ConfigurationUtils" level="OFF" />
    
    <!-- UTILE PER VEDERE AZIONI DI LOG -->
    <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->
    
    <root level="info">      
        <appender-ref ref="FILE" />
       
         <!-- 
          <appender-ref ref="LOGSTASH" /> 
       	 <appender-ref ref="STDOUT" />         
        -->
    </root>
 
</configuration>		
